.section {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 50px 0 50px var(--padding-lg);
}

.sectionTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  display: flex;
  column-gap: 11px;
  font-weight: 400;
  font-size: var(--font-size-h2);
}

.viewAllContainer {
  margin: 0 var(--padding-lg) 50px;
  padding: 2px;
  width: fit-content;
  border-radius: 30px;
  background: linear-gradient(to right, var(--blue-darker-color), var(--purple-darker-color));
}

.viewAllButtonsContainer {
  display: inline-flex;
  column-gap: 15px;
  padding: 5px;
  border-radius: 30px;
  background-color: var(--dark-blue-color);
}

.viewAllButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  border-radius: 30px;
  font-weight: 400;
  font-size: var(--font-size-default);
  background-color: var(--blue-darker-color);
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease, filter 0.3s ease;
}

.viewAllButton:last-child {
  background-color: var(--purple-darker-color);
}

.viewAllButton:hover,
.viewAllButton:focus {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  filter: brightness(1.2);
}

.moviesContainer {
  display: flex;
  column-gap: 30px;
  padding: 0 var(--padding-lg) 20px 0;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: inline mandatory;
  scrollbar-width: none;
}

.moviesContainer::-webkit-scrollbar {
  display: none;
}

.moviesContainer:hover > button {
  opacity: 1;
}

.movieArticle {
  flex: 0 0 300px;
  background: var(--dark-blue-color);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease-out;
  scroll-snap-align: start;
}

.movieArticle:hover,
.movieArticle:focus {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
}

.movieArticle:hover img,
.movieArticle:focus img {
  transform: scale(1.08);
}

.movieImageContainer {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  height: 140px;
}

.movieImageContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: linear-gradient(to top, var(--dark-blue-color), transparent);
}

.movieImage {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.movieContent {
  padding: 20px;
}

.movieTitleAndVoteAvg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.movieTitle {
  font-weight: 400;
  font-size: var(--font-size-default);
  max-width: 150px;
  line-height: 1.1;
  letter-spacing: 0.3px;
}

.movieVoteContainer {
  display: flex;
  column-gap: 7px;
}

.movieVoteAvg {
  font-weight: 500;
}

.movieVoteIcon {
  fill: gold;
}

.movieDescription {
  font-weight: 300;
  font-size: var(--font-size-sm);
}

/* If Movie Section is Netflix */
.movieArticle.large {
  position: relative;
  border-radius: 5px;
  flex-basis: 230px;
  height: 340px;
  overflow: hidden;
}

.movieArticle.large:hover img,
.movieArticle.large:focus img {
  transform: scale(1.06);
}

.movieArticle.large .movieImageContainer {
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}

.movieArticle.large .movieImageContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--netflix-color), transparent);
}

.movieArticle.large .movieTitleAndVoteAvg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

.movieArticle.large .movieTitle {
  font-weight: 400;
  font-size: var(--font-size-default);
  max-width: 150px;
  line-height: 1;
  letter-spacing: 0.3px;
}

.movieArticle.large .movieDescription {
  position: absolute;
  inset: 0;
  padding: 20px;
  backdrop-filter: blur(20px);
  opacity: 0;
  font-size: var(--font-size-default);
  line-height: 1.3;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.movieArticle.large:hover .movieDescription,
.movieArticle.large:focus .movieDescription {
  opacity: 1;
  transform: translateY(0);
}
