/* General Properties */

.infoWrapper {
  position: relative;
  display: grid;
  gap: 40px;
  max-width: calc(var(--max-width) - 400px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 100px var(--padding-lg);
}

.article {
  background: rgba(255, 255, 255, 0.18);
  padding: 40px;
  border-radius: 20px;
}

.articleTitle {
  font-size: var(--font-size-h1);
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-bottom: 25px;
}

.smallArticleTitle {
  font-size: var(--font-size-h2);
  font-weight: 400;
  letter-spacing: 0.4px;
  padding-bottom: 25px;
}

/* Error handling */

.messageContainer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  display: flex;
  column-gap: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  transform: translateX(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 100;
}

.messageContainer.error {
  background: rgb(180, 0, 0);
}

.messageContainer.success {
  background: rgb(0, 180, 0);
}

.messageIconContainer {
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.messageIconSuccess {
  fill: rgb(0, 212, 18);
  width: 20px;
  height: 20px;
}

.messageIconError {
  fill: rgb(255, 0, 0);
  width: 20px;
  height: 20px;
}

.messageTextContainer {
  flex-grow: 1;
}

.messageText {
  font-size: var(--font-size-sm);
  font-weight: 400;
  letter-spacing: 0.4px;
}

/* Background image properties */

.backgroundImageContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  filter: blur(40px) brightness(0.9);
}

.backgroundImage {
  pointer-events: none;
  object-fit: cover;
}

/* Backtround Darkener Properties */

.backgroundDarkener {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.backgroundDarkener.show {
  opacity: 1;
  visibility: visible;
}

/* Trailer popup properties */

.trailerPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  padding: var(--padding-lg);
  z-index: 20;
  transition: 0.2s ease-out;
  pointer-events: none;
}

.trailerPopup.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.trailerVideo {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16/9;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Image and User actions Properties */

.imageAndUserActionsContainer {
  position: relative;
  grid-column: 1 / 2;
  overflow: hidden;
  padding: unset;
  min-height: 600px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.userActionsContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.userActionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: var(--font-size-default);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  width: 50%;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.userActionButton:hover,
.userActionButton:focus {
  background: rgba(255, 255, 255, 0.3);
}

.userActionButton:last-child {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.userActionIcon {
  width: 15px;
  height: 15px;
}

/* Main info Wrapper properties */

.mainInfoWrapper {
  grid-column: 2 / 4;
  display: flex;
  gap: 40px;
}

/*  Main Info Content Properties */

.mainInfoContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 30px;
}

.mainInfoTitle {
  font-size: var(--font-size-md);
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 0.9;
  padding-bottom: 30px;
  word-wrap: break-word;
}

.mainInfoSectionContainer {
  position: relative;
  padding: 5px 0;
}

.mainInfoSectionContainer::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 2px;
}

.mainInfoSectionContainer:last-child::after {
  all: unset;
}

.mainInfoSectionTitle {
  font-size: var(--font-size-default);
  letter-spacing: 1px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.overview {
  max-height: 130px;
  overflow-y: auto;
  padding-right: 15px;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  scrollbar-width: thin;
}

.overview::-webkit-scrollbar {
  background: none;
  width: 6px;
}

.overview::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.overview::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/*  Main Info Aside properties */

.mainInfoAside {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  letter-spacing: 0.4px;
}

.mainInfoDuration {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.mainInfoDuration::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-radius: 2px;
}

.mainInfoDurationIcon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.mainInfoAvgVote {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 0.3;
  margin: 30px 0 20px 0;
}

.mainInfoAvgVoteIcon {
  width: 25px;
  height: 25px;
  fill: gold;
  margin-left: 10px;
}

.mainInfoVoteCount {
  font-size: var(--font-size-default);
}

.mainInfoVoteCountNumber {
  font-size: var(--font-size-h3);
}

.mainInfoReleaseDate {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}

.mainInfoReleaseDate::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-radius: 2px;
}

.mainInfoReleaseDate::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-radius: 2px;
}

.mainInfoReleaseDateIcon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.playTrailerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: var(--font-size-default);
  min-width: 170px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.playTrailerButton:hover,
.playTrailerButton:focus {
  background: rgba(255, 255, 255, 0.5);
}

.playTrailerButtonIcon {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/* Movie Cast & Crew Properties */

.castWatchKeywordsWrapper {
  grid-column: 1 / -1;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.castAndCrewWrapper {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.whereToWatchWrapper {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.keywordsWrapper {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* Cast Row properties */

.castAndCrewRow {
  position: relative;
  display: flex;
}

.castAndCrewRow + .castAndCrewRow {
  margin-top: 50px;
}

.castAndCrewRowTitle {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  margin-right: 30px;
  border-radius: 5px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  letter-spacing: 2.5px;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  transform: rotate(180deg);
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.castAndCrewRowTitle::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 2px;
  height: 100%;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.castAndCrewScrollableRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scrollbar-width: none;
}

.castAndCrewScrollableRow:hover > button {
  opacity: 1;
}

.castAndCrewScrollableRow::-webkit-scrollbar {
  display: none;
}

.castAndCrewCard {
  flex: 0 0 150px;
  cursor: pointer;
}

.castAndCrewImageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.memberImage {
  border-radius: 15px;
  object-fit: cover;
}

.memberName {
  font-size: var(--font-size-default);
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 5px;
}

.memberCharacterName {
  font-size: var(--font-size-sm);
  font-weight: 400;
  letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.6);
}

/* Where to Watch properties */

.whereToWatchRow + .whereToWatchRow {
  margin-top: 40px;
}

.whereToWatchRowTitle {
  position: relative;
  padding-bottom: 10px;
  font-size: var(--font-size-default);
  font-weight: 500;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.whereToWatchRowTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.whereToWatchScrollableRow {
  display: flex;
  gap: 12px;
  margin-top: 13px;
  padding-bottom: 5px;
  overflow-x: auto;
  scrollbar-width: none;
}

.whereToWatchScrollableRow:hover > button {
  opacity: 1;
}

.whereToWatchScrollableRow::-webkit-scrollbar {
  display: none;
}

.whereToWatchImageContainer {
  position: relative;
  flex: 0 0 50px;
  height: 50px;
}

.whereToWatchProviderImage {
  border-radius: 5px;
}

/* Keyword properties */

.keywordsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 150px;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  scrollbar-width: thin;
}

.keywordsContainer::-webkit-scrollbar {
  background: none;
  width: 6px;
}

.keywordsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.keywordsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.keyword {
  padding: 7px 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.4px;
  font-size: var(--font-size-default);
  font-weight: 300;
  cursor: pointer;
  transition: background 0.3s;
}

.keyword:hover,
.keyword:focus {
  background: rgba(255, 255, 255, 0.5);
}

/* Images properties */

.imagesWrapper {
  grid-column: 1 / -1;
}

.imagesScrollableRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scrollbar-width: none;
}

.imagesScrollableRow:hover > button {
  opacity: 1;
}

.imagesScrollableRow::-webkit-scrollbar {
  display: none;
}

.imageContainerHorizontal {
  position: relative;
  flex: 0 0 400px;
  height: 250px;
}

.imageContainerVertical {
  position: relative;
  flex: 0 0 170px;
  height: 250px;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

/* Related movies/series properties */

.relatedWrapper {
  grid-column: 1 / -1;
}

.relatedScrollableRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 15px;
  scroll-snap-type: inline mandatory;
  scrollbar-width: none;
}

.relatedScrollableRow:hover > button {
  opacity: 1;
}

.relatedScrollableRow::-webkit-scrollbar {
  display: none;
}

.relatedContainer {
  flex: 0 0 300px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease-out;
  scroll-snap-align: start;
}

.relatedContainer:hover,
.relatedContainer:focus {
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
}

.relatedContainer:hover img,
.article:focus img {
  transform: scale(1.05);
}

.relatedImageContainer {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  height: 140px;
}

.relatedImage {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.relatedContent {
  padding: 20px;
}

.relatedTitleAndVoteAvg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.relatedTitle {
  font-weight: 400;
  font-size: var(--font-size-default);
  max-width: 150px;
  line-height: 1.1;
  letter-spacing: 0.3px;
}

.relatedVoteContainer {
  display: flex;
  column-gap: 7px;
}

.relatedVoteAvg {
  font-weight: 500;
}

.relatedVoteIcon {
  fill: gold;
}

.relatedDescription {
  font-weight: 300;
  font-size: var(--font-size-sm);
}

/* Comments & Review Form Wrapper properties */

.commentsAndReviewFormWrapper {
  grid-column: 1 / -1;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}

.commentsWrapper,
.reviewFormWrapper {
  flex-basis: 50%;
}

/* Comments properties */

.commentsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  max-height: 650px;
  padding-right: 5px;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  scrollbar-width: thin;
}

.commentsContainer::-webkit-scrollbar {
  background: none;
  width: 6px;
}

.commentsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.commentsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.commentContainer {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  max-height: 200px;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 30px 30px 50px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.commentContainer.expandedComment {
  max-height: 1200px;
}

.commentInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.userInfoContainer {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
}

.userImageContainer {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.userUsername {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  letter-spacing: 0.3px;
  font-size: var(--font-size-h3);
}

.commentDate {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.5);
}

.userVoteContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: var(--font-size-h2);
  font-weight: 300;
}

.commentAvgVoteIcon {
  fill: gold;
  width: 20px;
  height: 20px;
}

.userComment {
  font-size: var(--font-size-default);
  line-height: 1.3;
  letter-spacing: 0.2px;
  font-weight: 300;
}

.expandShrinkCommentButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 15px;
  font-size: var(--font-size-default);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.expandShrinkCommentButton:hover,
.expandShrinkCommentButton:focus {
  background: rgba(255, 255, 255, 0.5);
}

/* Review Form properties */

.reviewForm {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.userCommentInput {
  width: 100%;
  height: 250px;
  padding: 30px;
  font-size: var(--font-size-default);
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  border: none;
  outline: none;
  resize: none;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  scrollbar-width: thin;
}

.userCommentInput:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.userCommentInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.userCommentInput::-webkit-scrollbar {
  background: none;
  width: 8px;
}

.userCommentInput::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.userCommentInput::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.ratingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.userRatingLabel {
  display: flex;
  align-items: center;
  column-gap: 3px;
  padding: 5px 20px;
  font-size: var(--font-size-h3);
  font-weight: 600;
  letter-spacing: 0.4px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background 0.3s;
}

.userRatingLabel:hover {
  background: rgba(255, 255, 255, 0.4);
}

.ratingButton {
  position: fixed;
  width: 0;
  opacity: 0;
}

.ratingButton:checked + .userRatingLabel {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.ratingButtonIcon {
  width: 15px;
  height: 15px;
  fill: gold;
}

.formPostClearButtonContainer {
  display: flex;
  gap: 10px;
}

.formPostClearButton {
  padding: 9px 25px;
  font-size: var(--font-size-h3);
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgba(0, 255, 64, 0.3);
  cursor: pointer;
  transition: background 0.3s;
}

.formPostClearButton:last-child {
  background: rgba(255, 25, 0, 0.3);
}

.formPostClearButton:hover,
.formPostClearButton:focus {
  background: rgba(0, 255, 64, 0.5);
}

.formPostClearButton:last-child:hover,
.formPostClearButton:last-child:focus {
  background: rgba(255, 25, 0, 0.5);
}
