/* Header properties */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 15px var(--padding-lg);
  border-radius: 0 0 5px 5px;
  background: transparent;
  z-index: 9999;
  transition: all 0.5s ease-out;
}

/* Handle background show on Header */
.header.show {
  background: var(--blue-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Logo properties */
.logo {
  display: flex;
  gap: 2px;
  font-size: var(--font-size-h1);
  font-weight: 600;
}

/* Search properties */
.searchWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 650px;
}

.searchInput {
  width: 100%;
  max-width: 500px;
  padding: 8px 15px;
  font-size: var(--font-size-default);
  background: transparent;
  border: 2px solid white;
  border-radius: 100px;
  letter-spacing: 1px;
  outline: none;
  backdrop-filter: blur(20px);
}

.searchInput::placeholder {
  color: #ffffff99;
}

.searchButton {
  display: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.searchButtonIcon {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.searchResultsContainer {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-height: 400px;
  margin-top: 20px;
  padding: 20px var(--padding-md);
  font-size: var(--font-size-default);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  letter-spacing: 0.4px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  z-index: 100;
}

.searchResultsContainer::-webkit-scrollbar {
  background: none;
  width: 8px;
}

.searchResultsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.searchResultsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.articleSearchResults {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resultContainer {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.resultContainer:hover {
  background: rgba(255, 255, 255, 0.25);
}

.resultImageContainer {
  flex: 0 0 80px;
  position: relative;
  height: 120px;
  overflow: hidden;
}

.resultImage {
  object-fit: cover;
  border-radius: 5px;
}

.resultContent {
  flex-grow: 1;
}

.resultTitle {
  padding-bottom: 5px;
  font-size: var(--font-size-default);
  font-weight: 600;
}

.resultDescription {
  font-size: var(--font-size-sm);
  color: #ffffffc2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.resultVoteAndDateContainer {
  display: flex;
  width: fit-content;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}

.resultVoteAndDateContainer > div p {
  display: flex;
  font-size: var(--font-size-sm);
  gap: 5px;
}

.serieVoteIcon {
  fill: gold;
}

/* User action properties */
.userActionContainer {
  display: flex;
  align-items: center;
}

.loginButton {
  display: flex;
  background: var(--blue-darker-color);
  padding: 10px 25px;
  border-radius: 5px;
  font-size: var(--font-size-default);
  outline: none;
  transition: 0.3s;
}

.loginButton:hover,
.loginButton:focus {
  filter: brightness(1.02);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileButton {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.profileImageContainer {
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.4);
  width: 33px;
  height: 33px;
  border-radius: 50px;
  pointer-events: none;
}

.caretDownIcon {
  width: 2.3em;
  height: 2.3em;
  fill: rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  pointer-events: none;
}

.userOptionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 50%;
  width: fit-content;
  border-radius: 10px;
  background: white;
  opacity: 0;
  transform: translate(-50%, -10px);
  overflow: hidden;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  pointer-events: none;
}

.showUserOptions {
  opacity: 1;
  transform: translate(-50%, 0);
}

.showUserOptions > :is(div, a) {
  pointer-events: all;
}

.userOptionsTitle {
  color: black;
  font-size: var(--font-size-default);
  letter-spacing: 0.4px;
  padding: 10px 0 8px;
  margin: 0 10px;
  border-bottom: 1px solid #00000026;
}

.userOptionContainer {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 7px;
  padding: 10px 15px;
}

.userOptionContainer:hover,
.userOptionContainer:focus {
  background: rgba(0, 0, 0, 0.1);
}

.userOptionContainer:last-child {
  background: #960808;
  cursor: pointer;
}

.userOptionContainer:last-child:hover,
.userOptionContainer:last-child:focus {
  filter: brightness(1.1);
}

.userOptionIcon {
  fill: rgb(153, 153, 153);
  width: 20px;
  height: auto;
}

.userOptionText {
  color: black;
}

.userOptionContainer:last-child .userOptionIcon {
  fill: #ff5656;
  width: 18px;
  height: auto;
}

.userOptionContainer:last-child .userOptionText {
  color: white;
}

/* Media query for desktops */
@media screen and (max-width: 1200px) {
}

/* Media query for laptops */
@media screen and (max-width: 992px) {
  /* Header properties */
  .header {
    padding: 15px var(--padding-md);
  }
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
  .searchButton {
    display: grid;
    place-items: center;
  }

  .searchWrapper {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 var(--padding-md);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

  .searchWrapper.open {
    opacity: 1;
    pointer-events: all;
  }

  .searchWrapper.open {
    opacity: 1;
    pointer-events: all;
  }

  .searchResultsContainer {
    max-height: calc(100vh - 200px);
  }
}

/* Media query for mobile phones */
@media screen and (max-width: 576px) {
  .header {
    padding: 15px var(--padding-sm);
  }

  .searchWrapper {
    padding: 0 var(--padding-sm);
  }
}
