.serieInfoWrapper {
  position: relative;
  display: grid;
  gap: 40px;
  max-width: calc(var(--max-width) - 400px);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 100px var(--padding-lg);
}

.serieArticle {
  background: rgba(255, 255, 255, 0.18);
  padding: 40px;
  border-radius: 20px;
}

/* Background Image Properties */

.backgroundImageContainer {
  position: fixed;
  inset: 0;
  filter: blur(40px) brightness(0.9);
}

.backgroundImage {
  object-fit: cover;
}

/* Background Darkener */

.backgroundDarkener {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.backgroundDarkener.show {
  opacity: 1;
  visibility: visible;
}

/* Serie Trailer Popup */
.serieTrailerPopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  padding: var(--padding-lg);
  z-index: 20;
  transition: 0.2s ease-out;
  pointer-events: none;
}

.serieTrailerPopup.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.serieTrailerVideo {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16/9;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Serie Image Container Properties */

.serieImageAndUserActionsContainer {
  position: relative;
  grid-column: 1 / 2;
  overflow: hidden;
  padding: unset;
  min-height: 600px;
}

.serieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.userActionsContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.userActionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: var(--font-size-default);
  font-weight: 500;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(15px);
  width: 50%;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.userActionButton:hover,
.userActionButton:focus {
  background: rgba(255, 255, 255, 0.3);
}

.userActionButton:last-child {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
}

.userActionIcon {
  width: 15px;
  height: 15px;
}

/* Serie Main Info Container Properties */

.serieMainInfoContainer {
  grid-column: 2 / 4;
  display: flex;
  gap: 40px;
}

/* Serie Main Info Content Properties */

.serieMainInfoContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 30px;
}

.serieMainInfoTitle {
  font-size: var(--font-size-md);
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 0.9;
  padding-bottom: 30px;
  word-wrap: break-word;
}

.serieMainInfoSectionContainer {
  position: relative;
  padding: 5px 0;
}

.serieMainInfoSectionContainer::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 2px;
}

.serieMainInfoSectionContainer:last-child::after {
  all: unset;
}

.serieMainInfoSectionTitle {
  font-size: var(--font-size-default);
  letter-spacing: 1px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.serieOverview {
  max-height: 130px;
  overflow-y: auto;
  padding-right: 15px;
}

.serieOverview::-webkit-scrollbar {
  background: none;
  width: 6px;
}

.serieOverview::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.serieOverview::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Serie Main Info Aside properties */

.serieMainInfoAside {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  letter-spacing: 0.4px;
}

.serieMainInfoDuration {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.serieMainInfoDuration::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-radius: 2px;
}

.serieMainInfoDurationIcon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.serieMainInfoAvgVote {
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 0.3;
  margin: 30px 0 20px 0;
}

.serieMainInfoAvgVoteIcon {
  width: 25px;
  height: 25px;
  fill: gold;
  margin-left: 10px;
}

.serieMainInfoVoteCount {
  font-size: var(--font-size-default);
}

.serieMainInfoVoteCountNumber {
  font-size: var(--font-size-h3);
}

.serieMainInfoReleaseDate {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}

.serieMainInfoReleaseDate::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-radius: 2px;
}

.serieMainInfoReleaseDate::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-radius: 2px;
}

.serieMainInfoReleaseDateIcon {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.playTrailerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: var(--font-size-default);
  min-width: 170px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.playTrailerButton:hover,
.playTrailerButton:focus {
  background: rgba(255, 255, 255, 0.5);
}

.playTrailerButtonIcon {
  margin-right: 5px;
  width: 35px;
  height: 35px;
}

/* Serie Cast & Crew Container Properties */

.serieCastWatchKeywordsContainer {
  grid-column: 1 / -1;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.serieCastAndCrewContainer {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.serieWhereToWatchContainer {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.serieKeywordsContainer {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.serieArticleTitle {
  font-size: var(--font-size-h1);
  font-weight: 400;
  letter-spacing: 0.5px;
  padding-bottom: 25px;
}

.serieSmallArticleTitle {
  font-size: var(--font-size-h2);
  font-weight: 400;
  letter-spacing: 0.4px;
  padding-bottom: 25px;
}

/* Cast Row Properties */

.castAndCrewRow {
  position: relative;
  display: flex;
}

.castAndCrewRow + .castAndCrewRow {
  margin-top: 50px;
}

.castAndCrewRowTitle {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  margin-right: 30px;
  border-radius: 5px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  letter-spacing: 2.5px;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  transform: rotate(180deg);
  color: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

.castAndCrewRowTitle::after {
  content: "";
  position: absolute;
  left: -5px;
  bottom: 0;
  width: 2px;
  height: 100%;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.castAndCrewScrollableRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.castAndCrewScrollableRow::-webkit-scrollbar {
  display: none;
}

.castAndCrewCard {
  flex: 0 0 150px;
  cursor: pointer;
}

.castAndCrewImageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.memberImage {
  border-radius: 15px;
  object-fit: cover;
}

.memberName {
  font-size: var(--font-size-default);
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-top: 5px;
}

.memberCharacterName {
  font-size: var(--font-size-sm);
  font-weight: 400;
  letter-spacing: 0.6px;
  color: rgba(255, 255, 255, 0.6);
}

/* Where to Watch Container Properties */

.whereToWatchRow + .whereToWatchRow {
  margin-top: 40px;
}

.whereToWatchRowTitle {
  position: relative;
  padding-bottom: 10px;
  font-size: var(--font-size-default);
  font-weight: 500;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.whereToWatchRowTitle::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.whereToWatchScrollableRow {
  display: flex;
  gap: 12px;
  margin-top: 13px;
  padding-bottom: 5px;
  overflow-x: auto;
}

.whereToWatchScrollableRow::-webkit-scrollbar {
  display: none;
}

.whereToWatchImageContainer {
  position: relative;
  flex: 0 0 50px;
  height: 50px;
}

.whereToWatchProviderImage {
  border-radius: 5px;
}

/* Keywords Container Properties */

.keywordsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 150px;
  overflow-y: auto;
}

.keywordsContainer::-webkit-scrollbar {
  background: none;
  width: 6px;
}

.keywordsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.keywordsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.keyword {
  padding: 7px 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.4px;
  font-size: var(--font-size-default);
  font-weight: 300;
  cursor: pointer;
  transition: background 0.3s;
}

.keyword:hover,
.keyword:focus {
  background: rgba(255, 255, 255, 0.5);
}

/* Images Container Properties */

.serieImagesContainer {
  grid-column: 1 / -1;
}

.imagesScrollableRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.imagesScrollableRow::-webkit-scrollbar {
  display: none;
}

.imageContainerHorizontal {
  position: relative;
  flex: 0 0 400px;
  height: 250px;
}

.imageContainerVertical {
  position: relative;
  flex: 0 0 170px;
  height: 250px;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

/* Related Series Container Properties */

.serieRelatedSeriesContainer {
  grid-column: 1 / -1;
}

.relatedSeriesScrollableRow {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 15px;
  scroll-snap-type: inline mandatory;
}

.relatedSeriesScrollableRow::-webkit-scrollbar {
  display: none;
}

.relatedSerieContainer {
  flex: 0 0 300px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.5s ease-out;
  scroll-snap-align: start;
}

.relatedSerieContainer:hover,
.relatedSerieContainer:focus {
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
}

.relatedSerieContainer:hover img,
.serieArticle:focus img {
  transform: scale(1.05);
}

.relatedSerieImageContainer {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  height: 140px;
}

.relatedSerieImage {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.relatedSerieContent {
  padding: 20px;
}

.relatedSerieTitleAndVoteAvg {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.relatedSerieTitle {
  font-weight: 400;
  font-size: var(--font-size-default);
  max-width: 150px;
  line-height: 1.1;
  letter-spacing: 0.3px;
}

.relatedSerieVoteContainer {
  display: flex;
  column-gap: 7px;
}

.relatedSerieVoteAvg {
  font-weight: 500;
}

.relatedSerieVoteIcon {
  fill: gold;
}

.relatedSerieDescription {
  font-weight: 300;
  font-size: var(--font-size-sm);
}

/* Serie Reviews Container Properties */

.serieReviewsContainer {
  grid-column: 1 / -1;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}

.reviewsContainer,
.reviewFormContainer {
  flex-basis: 50%;
}

/* Serie Reviews Comments Container Properties */

.commentsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  max-height: 650px;
  padding-right: 5px;
}

.commentsContainer::-webkit-scrollbar {
  background: none;
  width: 6px;
}

.commentsContainer::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.commentsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.commentContainer {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 30px 30px 50px;
  overflow: hidden;
}

.commentInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.userInfoContainer {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
}

.userImageContainer {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.userUsername {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  letter-spacing: 0.3px;
  font-size: var(--font-size-h3);
}

.commentDate {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.5);
}

.userVoteContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: var(--font-size-h2);
  font-weight: 300;
}

.serieCommentAvgVoteIcon {
  fill: gold;
  width: 20px;
  height: 20px;
}

.userComment {
  font-size: var(--font-size-default);
  line-height: 1.3;
  letter-spacing: 0.2px;
  font-weight: 300;
}

.expandShrinkCommentButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 15px;
  font-size: var(--font-size-default);
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.expandShrinkCommentButton:hover,
.expandShrinkCommentButton:focus {
  background: rgba(255, 255, 255, 0.5);
}

/* Review Form Container Properties */

.reviewForm {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.userCommentInput {
  width: 100%;
  height: 250px;
  padding: 30px;
  font-size: var(--font-size-default);
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  border: none;
  outline: none;
  resize: none;
  overflow-y: auto;
}

.userCommentInput:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
}

.userCommentInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.userCommentInput::-webkit-scrollbar {
  background: none;
  width: 8px;
}

.userCommentInput::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 4px;
}

.userCommentInput::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.ratingsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.userRatingLabel {
  display: flex;
  align-items: center;
  column-gap: 3px;
  padding: 5px 20px;
  font-size: var(--font-size-h3);
  font-weight: 600;
  letter-spacing: 0.4px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background 0.3s;
}

.userRatingLabel:hover {
  background: rgba(255, 255, 255, 0.4);
}

.ratingButton {
  position: fixed;
  width: 0;
  opacity: 0;
}

.ratingButton:checked + .userRatingLabel {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.ratingButtonIcon {
  width: 15px;
  height: 15px;
  fill: gold;
}

.customRatingInput {
  margin: 0 5px;
  width: 60px;
  font-size: var(--font-size-h3);
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.formPostClearButtonContainer {
  display: flex;
  gap: 10px;
}

.formPostClearButton {
  padding: 9px 25px;
  font-size: var(--font-size-h3);
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 5px;
  background: rgba(0, 255, 64, 0.3);
  cursor: pointer;
  transition: background 0.3s;
}

.formPostClearButton:last-child {
  background: rgba(255, 25, 0, 0.3);
}

.formPostClearButton:hover,
.formPostClearButton:focus {
  background: rgba(0, 255, 64, 0.5);
}

.formPostClearButton:last-child:hover,
.formPostClearButton:last-child:focus {
  background: rgba(255, 25, 0, 0.5);
}
